th{
  background: linear-gradient(0deg, #BFBFBF, #BFBFBF), #BFBFBF;
  color: #fafafa;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
 }

